body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2a2828;
    color: white;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
}

#app {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    white-space: nowrap;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#app::-webkit-scrollbar {
    height: 10px;
}

#app::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

#app::-webkit-scrollbar-thumb {
    background: #3c79d8;
    border-radius: 10px;
}

#app::-webkit-scrollbar-thumb:hover {
    background: #316ac4;
}

.group {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.group-header {
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: #444;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.parcel {
    margin: 20px 4px;
    width: 105px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.parcel.selected {
    border: 2px solid white;
}

.parcel:hover {
    transform: scale(1.05);
}

.parcelNameDiv {
    font-size: small;
}

.parcelSequence {
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 5px;
}

button {
    background-color: #b6d7a8;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a5c89e;
}

.formContainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.parcelLegends {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.legend-item {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.legend-box {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.controls {
    background-color: #1a1a1a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.formControl {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formControl label {
    font-weight: bold;
    color: #ddd;
}

#parcelNameInput,
#parcelGroupInput {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    outline: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

#parcelNameInput::placeholder,
#parcelGroupInput::placeholder {
    color: #888;
}

.allButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
}

#selectedParcel {
    font-weight: bold;
    background-color: rgb(56, 57, 58);
    padding: 5px;
    border-radius: 5px;
}